/* Kehon tyyli */
body {
    margin: 20px;
    text-align: center;
    background-color: #c9bad3;
}

p {
    font-size: 18px;
    color: #3b3849;
    font-family: 'monospace', monospace;
    font-size: 16px;
}

#infoBox {
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    padding: 30px;
    border: 1px solid #3c3a47;
    color: #3b3849;
    background-color: #f3e9fb;
    width: 450px;
    font-size: 16px;
    border-radius: 5px;

}

/* Ajatuspilvi-koneen info ja input-kenttä */
#thoughtInfo{
    display: none;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 0px;
    border: 1px solid #3c3a47;
    background-color: #f3e9fb;
    width: 520px;
    border-radius: 5px;
}

#thoughtInput {
    margin: auto;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #3c3a47;
    margin-bottom: 15px;
    font-family: 'monospace', monospace;
}

/* Rauhoittumispuun elementit */
#treeInfo, #fridgeInfo, #mindversumInfo{
    display: none;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border: 1px solid #3c3a47;
    color: #3b3849;
    background-color: #f3e9fb;
    border-radius: 5px;
}

button {
    display: none;
    font-size: 18px;
    padding: 10px;
    background-color: #745088;
    color: #f3e9fb;
    font-family: 'monospace', monospace;
    font-size: 16px;
    border: none;
    border-radius: 5px;

}

#mute {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 90%;
    color:#3b3849;
    background-color: rgba(0, 0, 0, 0.0);
}

#ok {
    display: block;
    margin: auto;
    margin-top: 30px;
}

#oneMin, #fiveMin, #tenMin, #close, #food1, #food2, #food3, #yes, #no {
    display: inline-block;
    margin: 10px;
}
